.tituloInicio {
  background-color: #fe4c50;
  color: white;
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  letter-spacing: 10px;
  font-size: 65px;
}
