.form-registro-enlace {
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  left: 230px;
  top: -247px;
}
.form-registro-enlace:hover {
  color: white;
  border-radius: 50%;
}

.form-register-boton {
  width: 260px;
  height: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  transition: all, 240ms ease-in-out;
  background: #fe4c50;
  margin-top: 10px;
  position: relative;
  left: 10px;
  top: -30px;
}

.form-register-boton:hover {
  background-color: rgba(200, 200, 200, 0.801);
  color: rgba(0, 0, 0, 0.329);
  filter: brightness(1.2);
}

.error {
  color: white;
  font-size: 12px;
  width: 270px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 10px;
  position: relative;
  top: -12px;
  left: 5px;
}
